{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

<div class="container-flex">
    <br><br>
    <div class="row">
        <form class="col s12" action="" method="POST">
            <div class="col s10">
                <div class="input-field col s10">
                    <select name="select_category">
                        <option value="" disabled selected>Escolha uma categoria</option>
                        <ul>
                            {% for key, value  in root_api.items() %}
                                <option value="{{ value }}">{{ key }}</option>
                            {% endfor %}
                        </ul>
                    </select>
                    <label>Filtro por Categoria</label>
                </div>
                <br>
            </div>
            <div class="col s2">
                <button class="btn waves-effect waves-light btn-small" type="submit" name="search_category">Pesquisar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col s12">
            <table id="myTable" style="width:100%"></table>

            <script>
                data = [{{ data| safe }}];
                data = data[0]['results'];

                var my_columns = [];

                $.each(data[0], function (key, value) {
                    var my_item = {};
                    my_item.data = key;
                    my_item.title = `<b>${key}</b>`;
                    my_columns.push(my_item);
                });

                $(document).ready(function () {
                    $('select').formSelect();

                    $('#myTable').DataTable({
                        autoWidth: false,
                        data: data,
                        columns: my_columns,
                        columnDefs: [
                            {
                                targets: ['_all'],
                                className: 'mdc-data-table__cell'
                            }
                        ]
                    });

                });
            </script>

        </div>
    </div>
</div>
{% endblock %}