{% extends 'base.html' %}

{% block title %} Index {% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col s12">
            
                <div class="collection z-depth-2">
                    <a href="#!" class="collection-item"><span class="badge">1</span>Alan</a>
                    <a href="#!" class="collection-item"><span class="new badge">4</span>Alan</a>
                    <a href="#!" class="collection-item">Alan</a>
                    <a href="#!" class="collection-item"><span class="badge">14</span>Alan</a>
                </div>
                <b>Nome: {{ name }}</b>
    
            </div>
        </div>
    </div>
{% endblock %}